<div id="<%= dom_id security %>">
  <p>
    <strong>Place:</strong>
    <%= security.place %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= security.description %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= security.country %>
  </p>

  <p>
    <strong>Casulaties:</strong>
    <%= security.casulaties %>
  </p>

</div>
